/* Master Styles */
html {
}
body {
  overflow: hidden;
  margin: 0px;
  /*min-height: 100%;*/
  /*width: 100%;*/
}

a {
  cursor: pointer;
  cursor: hand;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/**
* Weeb container
***********************************************************/
.__weeb {
  margin-left: 14rem;
}

/**
* Table component
***********************************************************/
.table-container {
  font-size: 16px;
}

.table-container table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #adb5bd;
    width: 100%;
    word-break: break-all;
}

.table-container thead {
    background: #ced4da;
    border: 1px solid #adb5bd;
}

.table-container th {
    background: #ced4da;
    color: #343a40;
    font-weight: bold;
    padding: 8px 5px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    word-break: break-all;
    vertical-align: middle;
}

.table-container td {
    overflow-x: hidden;
    padding: 3px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    vertical-align: middle;
}

.table-container .striped tr:nth-child(even) td {
    background: #e9ecef;
}
