@import 'open-color.scss';

$colors: (
  primary-dk: $oc-blue-9,
  primary: $oc-blue-8,
  primary-lt: $oc-blue-7,
  primary-text: $oc-gray-0,

  gray-dk: $oc-gray-9,
  gray: $oc-gray-8,
  gray-lt: $oc-gray-7,

  divider: $oc-gray-5
);

@function color($color) {
    @return map-get($colors, $color);
}
