@import './src/app/scss/wilt-colors.scss';
@import './src/app/scss/open-color.scss';

.__entry {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.__entry .__title {
  background-color: color(primary);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: color(primary-text);
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 100%;
}

.__entry .__content {
  background-color: $oc-gray-2;
  border: 1px solid color(divider);
  padding: 0 1rem;
}
