@import './src/scss/colors';
@import './src/scss/open-color';
@import './src/scss/app';

.entry {
  @include box-shadow()

  &__title {
    background-color: color(primary);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: none;
    color: color(primary-text);
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    width: 100%;
  }
  &__content {
    background-color: $oc-gray-2;
    border: 1px solid color(divider);
    padding: 0 1rem;
  }
}
