/* Master Styles */
html {
}
body {
  /*overflow: hidden;*/
  margin: 0px;
  /*min-height: 100%;*/
  /*width: 100%;*/
}

a {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
a:visited, a:active, a:link, a:hover {
  text-decoration: none;
  color: #41606E;
}
/* everywhere else */
* {
  font-family: News Cycle, Helvetica, sans-serif;
}

/**
* WILT Button CSS
***********************************************************/
.btn-wilt {
  background-color: #6494AA;
  color: white;
  border-radius: 5px;
  border: none;
  width: 6rem;
  height: 2rem;
}

.btn-wilt:hover {
  border: none;
  cursor: pointer;
}

.text-wilt {
  width: 10rem;
  border-radius: 2px;
  border: 1px solid #6494AA;
}

/**
* Component loading screen
***********************************************************/
.__loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.__loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100,148,170,1);
}

.__loading i {
  color: #282828;
}

/**
* Scrollbar
***********************************************************/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #41606e;
  border: 11px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f4751;
}
::-webkit-scrollbar-thumb:active {
  background: #1b2a30;
}
::-webkit-scrollbar-track {
  background: #568296;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #568296;
}
::-webkit-scrollbar-track:active {
  background: #568296;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/**
* Weeb container
***********************************************************/
.__weeb {
  margin-left: 14rem;
  margin-right: 2rem;
}

/* Table component
*******************************************************************************/
.table-container {
  font-size: 16px;
  margin-bottom: 1rem;
}

.table-container table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #adb5bd;
  width: 100%;
}

.table-header {
  background-color: #6494AA;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: #ffffff;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 100%;
}
.table-header h1 {
  font-size: 20px;
}

.table-container thead {
  background: #ced4da;
  border: 1px solid #adb5bd;
}

.table-container th {
  background: #ced4da;
  border-bottom: 1px solid #adb5bd;
  color: #343a40;
  font-weight: bold;
  overflow: hidden;
  padding: 8px 5px;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.table-container td {
  border-bottom: 1px solid #adb5bd;
  overflow: hidden;
  padding: 3px 5px;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 0;
  white-space: nowrap;
}

.table-container .striped tr:nth-child(even) td {
  background: #e9ecef;
}

/* Table Alignment Helpers
*************************************/

.align-left,
.align-left-all,
.align-left-all * {
  text-align: left !important;
}

.align-center,
.align-center-all,
.align-center-all * {
  text-align: center !important;
}

.align-right,
.align-right-all,
.align-right-all * {
  text-align: right !important;
}

/* Table Border Helpers
*************************************/

.border,
.border-all,
.border-all * {
  border: 1px solid #adb5bd !important;
}

.border-top,
.border-top-all,
.border-top-all * {
  border-top: 1px solid #adb5bd !important;
}

.border-bottom,
.border-bottom-all,
.border-bottom-all * {
  border-bottom: 1px solid #adb5bd !important;
}

.border-right,
.border-right-all,
.border-right-all * {
  border-right: 1px solid #adb5bd !important;
}

.border-left,
.border-left-all,
.border-left-all * {
  border-left: 1px solid #adb5bd !important;
}

/* List Component
*******************************************************************************/
.list-container {
  margin-bottom: 1rem;
  width: 100%;
}
.list-container .list-header {
  background-color: #6494AA;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: #ffffff;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 100%;
}
.list-container .list-header h1 {
  font-size: 20px;
}
.list-container ul {
  border-left: 1px solid #adb5bd;
  border-right: 1px solid #adb5bd;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-container li {
  border-bottom: 1px solid #adb5bd;
  padding: .25rem;
}
/*
* Add to an <li> to give it a stripe background
*/
.list-container .stripe {
    background: #e9ecef;
}
/*
* Add to a <ul> to stripe the list items
*/
.list-container .striped li:nth-child(odd) {
    background: #e9ecef;
}
