/* Master Styles */
html {
}
body {
  /*overflow: hidden;*/
  margin: 0px;
  /*min-height: 100%;*/
  /*width: 100%;*/
}

a {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
a:visited, a:active, a:link, a:hover {
  text-decoration: none;
  color: #41606E;
}
/* everywhere else */
* {
  font-family: News Cycle, Helvetica, sans-serif;
}

/**
* WILT Button CSS
***********************************************************/
.btn-wilt {
  background-color: #6494AA;
  color: white;
  border-radius: 5px;
  border: none;
  width: 6rem;
  height: 2rem;
}

.btn-wilt:hover {
  border: none;
  cursor: pointer;
}

.text-wilt {
  width: 10rem;
  border-radius: 2px;
  border: 1px solid #6494AA;
}

/**
* Component loading screen
***********************************************************/
.__loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.__loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100,148,170,1);
}

/* Credit: https://codepen.io/MattIn4D/pen/LiKFC (MattIn4D) */
.__loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.__loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}
/* web development in a nutshell */
@webkit-keyframes spinner {
  0%: {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100%: {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**
* Scrollbar
***********************************************************/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #41606e;
  border: 11px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f4751;
}
::-webkit-scrollbar-thumb:active {
  background: #1b2a30;
}
::-webkit-scrollbar-track {
  background: #568296;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #568296;
}
::-webkit-scrollbar-track:active {
  background: #568296;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/**
* Weeb container
***********************************************************/
.__weeb {
  margin-left: 14rem;
  margin-right: 2rem;
}

/* Table component
*******************************************************************************/
.table-container {
  font-size: 16px;
  margin-bottom: 1rem;
}

.table-container table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #adb5bd;
  width: 100%;
}

.table-header {
  background-color: #6494AA;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: #ffffff;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 100%;
}
.table-header h1 {
  font-size: 20px;
}

.table-container thead {
  background: #ced4da;
  border: 1px solid #adb5bd;
}

.table-container th {
  background: #ced4da;
  border-bottom: 1px solid #adb5bd;
  color: #343a40;
  font-weight: bold;
  overflow: hidden;
  padding: 8px 5px;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.table-container td {
  border-bottom: 1px solid #adb5bd;
  overflow: hidden;
  padding: 3px 5px;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 0;
  white-space: nowrap;
}

.table-container .striped tr:nth-child(even) td {
  background: #e9ecef;
}

/* Table Alignment Helpers
*************************************/

.table-container .align-left,
.table-container .align-left-all,
.table-container .align-left-all * {
  text-align: left !important;
}

.table-container .align-center,
.table-container .align-center-all,
.table-container .align-center-all * {
  text-align: center !important;
}

.table-container .align-right,
.table-container .align-right-all,
.table-container .align-right-all * {
  text-align: right !important;
}

/* Table Border Helpers
*************************************/

.table-container .border,
.table-container .border-all,
.table-container .border-all * {
  border: 1px solid #adb5bd !important;
}

.table-container .border-top,
.table-container .border-top-all,
.table-container .border-top-all * {
  border-top: 1px solid #adb5bd !important;
}

.table-container .border-bottom,
.table-container .border-bottom-all,
.table-container .border-bottom-all * {
  border-bottom: 1px solid #adb5bd !important;
}

.table-container .border-right,
.table-container .border-right-all,
.table-container .border-right-all * {
  border-right: 1px solid #adb5bd !important;
}

.table-container .border-left,
.table-container .border-left-all,
.table-container .border-left-all * {
  border-left: 1px solid #adb5bd !important;
}

/* List Component
*******************************************************************************/
.list-container {
  margin-bottom: 1rem;
  width: 100%;
}
.list-container .list-header {
  background-color: #6494AA;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
  color: #ffffff;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  width: 100%;
}
.list-container .list-header h1 {
  font-size: 20px;
}
.list-container ul {
  border-left: 1px solid #adb5bd;
  border-right: 1px solid #adb5bd;
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-container li {
  border-bottom: 1px solid #adb5bd;
  padding: .25rem;
}
/*
* Add to an <li> to give it a stripe background
*/
.list-container .stripe {
    background: #e9ecef;
}
/*
* Add to a <ul> to stripe the list items
*/
.list-container .striped li:nth-child(odd) {
    background: #e9ecef;
}
