<div class="tableComponent">
  <div class="tableComponent__header">
    <h1>Now Playing</h1>
  </div>
  <table class="tableComponent__table tableComponent__table--striped">
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Who</th>
        <th>When</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scrobble of scrobbles">
        <td width="35%">{{scrobble.song_name}}</td>
        <td>
          <a [routerLink]="['/artist', scrobble.artist_name]">
            {{scrobble.artist_name}}
          </a>
        </td>
        <td>
          <a [routerLink]="['/profile', scrobble.nick]">{{scrobble.nick}}</a>
        </td>
        <td width="15%">{{scrobble.date_scrobbled | date: 'MMM d h:mm a'}}</td>
      </tr>
    </tbody>
  </table>
</div>
