<div class="__stats">
  <h1>We have scrobbled {{scrobbleCount | number}} times across {{memberCount | number}} members.</h1>
  <button class="btn-wilt" (click)="refresh()">Refresh</button>
</div>

<div class="__tables">
  <div class="smol tableComponent">
    <div class="tableComponent__header">
      Most Popular Songs
    </div>
    <table class="tableComponent__table">
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Scrobbles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of popularSongs">
          <td width="50%">{{song.title}}</td>
          <td width="30%">
            <a [routerLink]="['/artist', song.artist_name]">
              {{song.artist_name}}
            </a>
          </td>
          <td width="10%">{{song.scrobble_count}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="smol tableComponent">
    <div class="tableComponent__header">
      Most Popular Artists
    </div>
    <table class="tableComponent__table">
      <thead>
        <tr>
          <th>Artist</th>
          <th>Scrobbles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let artist of popularArtists">
          <td width="90%">
            <a [routerLink]="['/artist', artist.name]">
              {{artist.name}}
            </a>
          </td>
          <td width="10%">{{artist.scrobble_count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
