@import './src/scss/colors';
@import './src/scss/open-color';
@import './src/scss/app';

.paneComponent {
  background-color: $oc-gray-8;
  bottom: 0;
  color: white;
  position: fixed;
  height: 100% !important;
  width: 12rem;

  &__seperator {
    background-color: white;
    border: none;
    padding: 0;
    margin-top: -1.5em;
    height: 2px;
    width: 75%;
  }
  &__title {
    color: color(primary-text);
    font-family: Pacifico;
    text-align: center;
  }

  .nav {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    &__link {
      background-color: $oc-gray-8;
      border-bottom: 1px solid black;
      color: white !important;
      cursor: pointer;
      padding: 1rem;
      padding-left: 1rem;
      -moz-user-select: none;
      -ms-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      @include hover-base(color(primary));

      &--active {
        -webkit-box-shadow: inset -1rem 0 0 0 color(primary);
           -moz-box-shadow: inset -1rem 0 0 0 color(primary);
                box-shadow: inset -1rem 0 0 0 color(primary);
      }
    }
    &__icon {
      margin-right: 1rem;
    }
  }
}
