<div class="paneComponent">
  <h2>What I Listen To</h2>
  <hr class="paneComponent__seperator">
  <ul>
    <li [routerLink]="['/']">
      <i class="fa fa-home fa-fw" aria-hidden="true"></i>
      Home
    </li>
    <li *ngIf="auth.isLoggedIn()" [routerLink]="['profile/', curUser]">
      <i class="fa fa-user fa-fw" aria-hidden="true"></i>
      My Profile
    </li>
    <li *ngIf="!auth.isLoggedIn()" [routerLink]="['login']">
      <i class="fa fa-sign-in fa-fw" aria-hidden="true"></i>
      Login
    </li>
    <li [routerLink]="['/board']">
      <i class="fa fa-trophy fa-fw" aria-hidden="true"></i>
      Leaderboard
    </li>
    <li [routerLink]="['/stats']">
      <i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i>
      Stats
    </li>
    <li *ngIf="auth.isLoggedIn()" [routerLink]="['/settings']">
      <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
      Settings
    </li>
    <li [routerLink]="['/get-started']">
      <i class="fa fa-info fa-fw" aria-hidden="true"></i>
      Get Started
    </li>
    <li *ngIf="auth.isLoggedIn()" (click)="logout()">
      <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
      Logout
    </li>
  </ul>
</div>
