@import './src/app/scss/wilt-colors.scss';
@import './src/app/scss/open-color.scss';
@import './src/scss/styles.scss';

.__pane {
  height: 100% !important;
  position: fixed;
  width: 12rem;
  bottom: 0;
  color: white;
  background-color: $oc-gray-8;
}
h2 {
  color: color(primary-text);
  text-align: center;
  font-family: Pacifico;
}
.nav {
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  &--link {
    padding-left: 1rem;
    background-color: $oc-gray-9;
    color: white;
    padding: 1rem;
    border-bottom: 1px solid color(primary);
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
    @include hover-base(color(primary));
  }
}
.__sep {
  background-color: white;
  height: 2px;
  border: none;
  width: 75%;
  padding: 0;
  margin-top: -1.5em;
}
