<div class="start">
  <h2>Discord</h2>
  <p>We currently use Discord as our main way to handle bug reports. Discord is a free chat service that does not require a download. Our Discord link is below.</p>
  <div id="discord-link">
    <a href="https://discord.gg/gGUtK6s">Discord</a>
  </div>
  <hr>

  <h2>The following programs are written in Python and compiled using Pyinstaller</h2>
  <p>Some users have told me that their anti-virus software has flagged these as potential malware. Obviously that's not the case, but if you're still worried, you're free to run the code available on my Github without downloading anything!</p>

  <p>They're a few ways to scrobble at the moment:</p>
  <div class="tableComponent">
    <div class="tableComponent__header">
      Scrobbling
    </div>
    <table class="tableComponent__table">
      <thead>
        <tr>
          <th>
            Scrobbler
          </th>
          <th>
            Download
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scrobbler of scrobblers">
          <td>{{scrobbler.name}}</td>
          <td><a href="{{scrobbler.link}}">Download</a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>Don't see your player here?</h3>
  <p>No problem! We also have <b>RipFM</b> which scrobbles directly from Last.fm to your WILT profile! This is a temporary solution to allow for site development to continue while users can scrobble from any player they desire.</p>

  <h2>What I Listen To - Open Source</h2>
  <p>Because the owner likes to pretend he's a nice guy, the source code for WILT and all of the tools it uses is available on his <a href="https://github.com/ModalSeoul/">Github page.</a></p>
</div>
