<div class="table-container">
  <div class="table-header" *ngIf="header">
    <h1>{{header}}</h1>
  </div>
  <table class="striped">
    <thead>
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let scrobble of content; let i=index">
        <td>{{scrobble.song_name}}</td>
        <td>
          <a [routerLink]="['/artist', scrobble.artist_name]">
            {{scrobble.artist_name}}
          </a>
        </td>
        <td width="15%">{{scrobble.date_scrobbled | date: 'MMM d h:mm a'}}</td>
      </tr>
    </tbody>
  </table>
</div>
