<div class="tableComponent">
  <div class="tableComponent__header" *ngIf="header">
    {{header}}
  </div>
  <table class="tableComponent__table">
    <thead>
      <tr>
        <th *ngIf="isOwner"></th>
        <th>Song</th>
        <th>Artist</th>
        <th>Timestamp</th>
        <th></th>
      </tr>

    </thead>
    <tbody>
      <tr *ngFor="let scrobble of data; let i=index" [ngClass]="{'fade': scrobble.isFading}">
        <td *ngIf="isOwner" (click)="loveScrobble(scrobble.song, i)" class="love">
          <i *ngIf="scrobble.is_loved" class="fa fa-heart" aria-hidden="true"></i>
          <i *ngIf="!scrobble.is_loved" class="fa fa-heart-o" aria-hidden="true"></i>
        </td>
        <td width="40%">
          {{scrobble.song_name}}
        </td>
        <td width="40%">
          <a [routerLink]="['/artist', scrobble.artist_name]">
            {{scrobble.artist_name}}
          </a>
        </td>
        <td width="20%">
          {{scrobble.date_scrobbled | date: 'MMM d h:mm a'}}
        </td>
        <td class="del" (click)="rmScrobble(scrobble.id, i)">
          <i *ngIf="isOwner" class="fa fa-fw fa-trash" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
