<div class="settings">
  <div class="settings__row">
    <div class="settings__card card">
      <div class="card__title">
        Upload Banner
      </div>
      <div class="card__body">
        <form enctype="multipart/form-data" id="banner" method="post" action="https://wilt.fm/api/members/upload_banner/">
          <input type="file" name="banner_picture"/><br> <!-- FORGIVE ME FATHER -->
          <input type="hidden" [ngModel]="token" name="my_token"><br> <!-- FORGIVE ME FATHER -->
          <input type="button" class="btn-wilt" onclick="document.all.banner.submit()" value="Submit">
        </form>
      </div>
    </div>
    <div class="settings__card card">
      <div class="card__title">
        Upload Avatar
      </div>
      <div class="card__body">
        <form enctype="multipart/form-data" id="avatar" method="post" action="https://wilt.fm/api/members/upload_avatar/">
          <input type="file" name="profile_picture"/><br> <!-- FORGIVE ME FATHER -->
          <input type="hidden" [ngModel]="token" name="my_token"><br> <!-- FORGIVE ME FATHER -->
          <input type="button" class="btn-wilt" onclick="document.all.avatar.submit()" value="Submit">
        </form>
      </div>
    </div>
    <div class="settings__card card">
      <div class="card__title">
        Social Users
      </div>
      <div class="card__body">
        <input type="text" class="text-wilt" [(ngModel)]="newGithub" name="github_input" placeholder="Github Name">
        <i class="fa fa-github" aria-hidden="true"></i><br>
        <input type="text" class="text-wilt" [(ngModel)]="newReddit" name="reddit_input" placeholder="Reddit Name">
        <i class="fa fa-reddit-alien" aria-hidden="true"></i><br>
        <input type="text" class="text-wilt" [(ngModel)]="newTwitter" name="twitter_input" placeholder="Twitter Name">
        <i class="fa fa-twitter" aria-hidden="true"></i><br>
        <textarea class="text-wilt" [(ngModel)]="newBio" name="bio_input" placeholder="Bio"></textarea><br>
        <input type="button" class="btn-wilt" (click)="updateBio()" value="Update">
      </div>
    </div>
  </div>
  <div class="settings__card card">
    <div class="card__title">
      Theme
    </div>
    <div class="card__body">
      <input type="button" class="btn-wilt" (click)="setColor('red');" value="Red"/>
      <input type="button" class="btn-wilt" (click)="setColor('blue');" value="Blue"/>
      <input type="button" class="btn-wilt" (click)="setColor('indigo');" value="Indigo"/>
  </div>
</div>
