@import './src/scss/app';
@import './src/scss/colors';

.btn-wilt {
  margin-top: 1rem;
  border-radius: 0px !important;
}

.colorSwitch {
  display: flex;

  &__color {
    cursor: pointer;
    margin-right: 2px;
  }
}
