<div class="settings">
  <div class="settings__row">
    <div class="settings__card card">
      <div class="card__title">
        Upload Banner
      </div>
      <div class="card__body">
        <form enctype="multipart/form-data" id="banner" method="post" action="https://wilt.fm/api/members/upload_banner/">
          <input type="file" name="banner_picture"/><br> <!-- FORGIVE ME FATHER -->
          <input type="hidden" [ngModel]="token" name="my_token"><br> <!-- FORGIVE ME FATHER -->
          <input type="button" class="btn-wilt" onclick="document.all.banner.submit()" value="Submit">
        </form>
      </div>
    </div>
    <div class="settings__card card">
      <div class="card__title">
        Upload Avatar
      </div>
      <div class="card__body">
        <form enctype="multipart/form-data" id="avatar" method="post" action="https://wilt.fm/api/members/upload_avatar/">
          <input type="file" name="profile_picture"/><br> <!-- FORGIVE ME FATHER -->
          <input type="hidden" [ngModel]="token" name="my_token"><br> <!-- FORGIVE ME FATHER -->
          <input type="button" class="btn-wilt" onclick="document.all.avatar.submit()" value="Submit">
        </form>
      </div>
    </div>
    <div class="settings__card card">
      <div class="card__title">
        Social Users
      </div>
      <div class="card__body">
        <input type="text" class="text-wilt" [(ngModel)]="newGithub" name="github_input" placeholder="Github Name">
        <i class="fa fa-github" aria-hidden="true"></i><br>
        <input type="text" class="text-wilt" [(ngModel)]="newReddit" name="reddit_input" placeholder="Reddit Name">
        <i class="fa fa-reddit-alien" aria-hidden="true"></i><br>
        <input type="text" class="text-wilt" [(ngModel)]="newTwitter" name="twitter_input" placeholder="Twitter Name">
        <i class="fa fa-twitter" aria-hidden="true"></i><br>
        <textarea class="text-wilt" [(ngModel)]="newBio" name="bio_input" placeholder="Bio"></textarea><br>
        <input type="button" class="btn-wilt" (click)="updateBio()" value="Update">
      </div>
    </div>
  </div>
  <!-- <div class="settings__row">
    <div class="settings__card card">
      <div class="card__title">
        Switch Theme
      </div>
      <div class="card__body">
        <button class="btn-wilt" (click)="toggleTheme()">Toggle Dark/Light Theme</button>
      </div>
    </div>
    <div class="settings__card"></div>
    <div class="settings__card card">
      <div class="card__title">
        Primary Color
      </div>
      <div class="card__body">
        <div class="colorSwitch">
          <div *ngFor="let color of primaryChoices"
            class="colorSwitch__color"
            [ngClass]="['primary-' + color + '-bg']"
            (click)="setPrimaryColor(color)"></div>
        </div>
      </div>
    </div>
  </div> -->
</div>
