<div class="tableComponent">
  <div class="tableComponent__header">
    Top Scrobblers
  </div>
  <table class="tableComponent__table tableComponent__table--striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>User</th>
        <th>Scrobbles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of topUsers; let i = index">
        <td width="10%">{{i + 1}}</td>
        <td width="70%" [routerLink]="['/profile', user.nick_name]">
          <a [routerLink]="['/profile', user.nick_name]">{{user.nick_name}}</a>
        </td>
        <td width="15%">{{user.count}}</td>
      </tr>
    </tbody>
  </table>
</div>
