<img class="__avi" [src]="profileObj.avatar"> <h2>{{profileObj.nick}}</h2>
<div class="__stats">
  <ul>
    <li>This user has scrobbled {{profileObj.listen_count}} times.</li>
    <li>This user averages {{profileObj.per_day}} scrobbles per day.</li>
    <!-- <li>This user has {{profileObj.followerCount}} followers.</li> -->
  </ul>
</div>
<input *ngIf="canFollow" (click)="follow()" type="button" class="btn-wilt" value="+ Follow">
<input *ngIf="isFollowing" type="button" class="btn-wilt" value="Unfollow">
<scrobble-table [content]="scrobbles"><h1>Loading...</h1></scrobble-table>
<input *ngIf="!full" (click)="addScrobbles()" type="button" class="btn-wilt" value="Load More">
