<div *ngIf="profileObj.date_joined">
  <div class="__banner" [ngStyle]="{'background-image':'url('+ profileObj.banner +')'}">
    <div class="profileWrapper">
      <div class="__user" [ngClass]="{'staff': profileObj.is_staff}">
        <img class="__avi" [ngClass]="{'staff': profileObj.is_staff}" [src]="profileObj.avatar">
        <h1>{{profileObj.nick}}</h1>
      </div>
    </div>
  </div>
  <div class="listComponent">
    <div class="listComponent__header">
      User Stats
    </div>
    <ul class="listComponent__ul">
      <li class="listComponent__li">Member since {{profileObj.date_joined | date: 'MM/dd/yyyy' }}</li>
      <li class="listComponent__li">{{profileObj.listen_count | number}} total scrobbles</li>
      <li class="listComponent__li">{{profileObj.per_day | number}} scrobbles per day on average.</li>
      <!-- <li>This user has {{profileObj.followerCount}} followers.</li> -->
    </ul>
  </div>
  <input *ngIf="profileObj.canFollow" (click)="follow()" type="button" class="btn-wilt" value="+ Follow">
  <input *ngIf="isFollowing" type="button" class="btn-wilt" value="Unfollow">
  <scrobble-table [content]="scrobbles" [header]="'User Scrobbles'"><h1>Loading...</h1></scrobble-table>
  <input *ngIf="!full" (click)="addScrobbles()" type="button" class="btn-wilt" value="Load More">
</div>
