$primary-colors: (
  gray:     $oc-gray-8,
  red:      $oc-red-8,
  pink:     $oc-pink-8,
  grape:    $oc-grape-8,
  violet:   $oc-violet-8,
  indigo:   $oc-indigo-8,
  blue:     $oc-blue-8,
  cyan:     $oc-cyan-8,
  teal:     $oc-teal-8,
  green:    $oc-green-8,
  lime:     $oc-lime-8,
  yellow:   $oc-yellow-8,
  orange:   $oc-orange-8
);

$colors: (
  primary9:              $oc-blue-9,
  primary8:              $oc-blue-8,
  primary7:              $oc-blue-7,
  primary6:              $oc-blue-6,
  primary5:              $oc-blue-5,
  primary4:              $oc-blue-4,
  primary3:              $oc-blue-3,
  primary1:              $oc-blue-2,
  primary2:              $oc-blue-1,
  primary0:              $oc-blue-0,

  indigo9:              $oc-indigo-9,
  indigo8:              $oc-indigo-8,
  indigo7:              $oc-indigo-7,
  indigo6:              $oc-indigo-6,
  indigo5:              $oc-indigo-5,
  indigo4:              $oc-indigo-4,
  indigo3:              $oc-indigo-3,
  indigo2:              $oc-indigo-2,
  indigo1:              $oc-indigo-1,
  indigo0:              $oc-indigo-0,

  orange9:              $oc-orange-9,
  orange8:              $oc-orange-8,
  orange7:              $oc-orange-7,
  orange6:              $oc-orange-6,
  orange5:              $oc-orange-5,
  orange4:              $oc-orange-4,
  orange3:              $oc-orange-3,
  orange2:              $oc-orange-2,
  orange1:              $oc-orange-1,
  orange0:              $oc-orange-0,

  green9:              $oc-green-9,
  green8:              $oc-green-8,
  green7:              $oc-green-7,
  green6:              $oc-green-6,
  green5:              $oc-green-5,
  green4:              $oc-green-4,
  green3:              $oc-green-3,
  green2:              $oc-green-2,
  green1:              $oc-green-1,
  green0:              $oc-green-0,

  red9:              $oc-red-9,
  red8:              $oc-red-8,
  red7:              $oc-red-7,
  red6:              $oc-red-6,
  red5:              $oc-red-5,
  red4:              $oc-red-4,
  red3:              $oc-red-3,
  red2:              $oc-red-2,
  red1:              $oc-red-1,
  red0:              $oc-red-0,

  accent9:              $oc-gray-9,
  accent8:              $oc-gray-8,
  accent7:              $oc-gray-7,
  accent6:              $oc-gray-6,
  accent5:              $oc-gray-5,
  accent4:              $oc-gray-4,
  accent3:              $oc-gray-3,
  accent1:              $oc-gray-2,
  accent2:              $oc-gray-1,
  accent0:              $oc-gray-0,

  gray9:              $oc-gray-9,
  gray8:              $oc-gray-8,
  gray7:              $oc-gray-7,
  gray6:              $oc-gray-6,
  gray5:              $oc-gray-5,
  gray4:              $oc-gray-4,
  gray3:              $oc-gray-3,
  gray1:              $oc-gray-2,
  gray2:              $oc-gray-1,
  gray0:              $oc-gray-0,

  divider-dk:         $oc-gray-8,
  divider-lt:         $oc-gray-3
);

@function color($color) {
    @return map-get($colors, $color);
}

/* Generate color, and color-bg classes for each color defined above */
@each $name, $color in $colors {
    .#{$name} {
        color: $color;
    }
    .#{$name}Bg {
        background-color: $color;
    }
}
