$primary-colors: (
  gray:     $oc-gray-8,
  red:      $oc-red-8,
  pink:     $oc-pink-8,
  grape:    $oc-grape-8,
  violet:   $oc-violet-8,
  indigo:   $oc-indigo-8,
  blue:     $oc-blue-8,
  cyan:     $oc-cyan-8,
  teal:     $oc-teal-8,
  green:    $oc-green-8,
  lime:     $oc-lime-8,
  yellow:   $oc-yellow-8,
  orange:   $oc-orange-8
);

$colors: (
  primary9:              $oc-orange-9,
  primary8:              $oc-orange-8,
  primary7:              $oc-orange-7,
  primary6:              $oc-orange-6,
  primary5:              $oc-orange-5,
  primary4:              $oc-orange-4,
  primary3:              $oc-orange-3,
  primary1:              $oc-orange-2,
  primary2:              $oc-orange-1,
  primary0:              $oc-orange-0,

  accent9:              $oc-orange-9,
  accent8:              $oc-orange-8,
  accent7:              $oc-orange-7,
  accent6:              $oc-orange-6,
  accent5:              $oc-orange-5,
  accent4:              $oc-orange-4,
  accent3:              $oc-orange-3,
  accent1:              $oc-orange-2,
  accent2:              $oc-orange-1,
  accent0:              $oc-orange-0,

  gray9:              $oc-gray-9,
  gray8:              $oc-gray-8,
  gray7:              $oc-gray-7,
  gray6:              $oc-gray-6,
  gray5:              $oc-gray-5,
  gray4:              $oc-gray-4,
  gray3:              $oc-gray-3,
  gray1:              $oc-gray-2,
  gray2:              $oc-gray-1,
  gray0:              $oc-gray-0,

  divider-dk:         $oc-gray-7,
  divider-lt:         $oc-gray-3
);

@function color($color) {
    @return map-get($colors, $color);
}

/* Generate color, and color-bg classes for each color defined above */
@each $name, $color in $colors {
    .#{$name} {
        color: $color;
    }
    .#{$name}Bg {
        background-color: $color;
    }
}
