@import 'colors';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: News Cycle, Helvetica, sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
a:visited, a:active, a:link, a:hover {
  text-decoration: none;
  color: color(primary-dk);
}
