@mixin box-shadow() {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

@mixin hover-base($color) {
  cursor: pointer;
  opacity: 1;
  transition: 1s;

  &:hover {
    background-color: $color;
  }
  &:active {
    opacity: 0.75;
    -webkit-box-shadow: inset -8px 0px 6px -6px rgba(40, 40, 40, 0.5);
      -moz-box-shadow: inset -8px 0px 6px -6px rgba(40, 40, 40, 0.5);
        box-shadow: inset -8px 0px 6px -6px rgba(40, 40, 40, 0.5);
  }
}
