@mixin no-transition { transition: none; }
@mixin transition($property: all, $duration: .25s, $timing-function: ease) {
  transition: $property $duration $timing-function;
}

@mixin no-shadow { box-shadow: 0 0 0 transparent; }
@mixin box-shadow {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

@mixin hover-base($color) {
  cursor: pointer;
  opacity: 1;
  @include transition(all, 1s, ease);

  &:hover {
    background-color: $color;
  }
  &:active {
    opacity: 0.75;
    -webkit-box-shadow: inset -8px 0px 6px -6px rgba(40, 40, 40, 0.5);
      -moz-box-shadow:  inset -8px 0px 6px -6px rgba(40, 40, 40, 0.5);
        box-shadow:     inset -8px 0px 6px -6px rgba(40, 40, 40, 0.5);
  }
}
