@import 'colors';
@import 'open-color';

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: color(primary-lt);
  border: 11px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: color(primary);
}
::-webkit-scrollbar-thumb:active {
  background: color(primary-dk);
}
::-webkit-scrollbar-track {
  background: $oc-gray-8;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: $oc-gray-8;
}
::-webkit-scrollbar-track:active {
  background: $oc-gray-8;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
