@import 'base';

body {
  background-color: color(gray9);
  color: color(gray2);
}

a { color: color(primary6); }
a:visited, a:link { color: color(primary6); }
a:active, a:hover { color: color(primary8); }


.text-wilt {
  background-color: color(gray8);
  color: color(gray2);
}


.card {
  background-color: color(gray8);

  &__title {
    background-color: color(primary7);
    color: color(gray0);
  }
}


.loading {
  &:before {
    background-color: color(gray9);
  }
}


.tableComponent {
  &__header {
    background-color: color(primary9);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: color(gray0);
  }

  &__table {
    thead {
      background-color: color(gray8);
    }

    th {
      background-color: color(gray8);
      color: color(gray0);
    }

    tr:hover td { border-bottom: 2px solid color(accent8); }

    td {
      background-color: color(gray9);
      color: color(gray0);
    }

    &--striped {
      tr:nth-child(even) td {
        background-color: color(gray9);
      }
    }
  }
}


.listComponent {
  ul li:hover {
    border-bottom: 2px solid color(accent8);
  }

  &--stripe {
    background: color(gray9);
  }

  &--striped {
    li:nth-child(odd) {
      background: color(gray9);
    }
  }

  &__header {
    background-color: color(primary9);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: color(gray0);
  }
}


.sidebar {
  background-color: color(gray8);
  color: white;

  &__title {
    background-color: color(primary7);
    color: white;
  }
  .nav {
    &__link {
      @include bold-text;

      background-color: color(gray8);
      color: color(gray2) !important;

      &:hover {
        background-color: color(accent8);
      }

      &--active {
        -webkit-box-shadow: inset size(6) 0 0 0 color(accent8);
           -moz-box-shadow: inset size(6) 0 0 0 color(accent8);
                box-shadow: inset size(6) 0 0 0 color(accent8);
      }

      &__icon {
        color: color(gray2);
      }
    }
  }
}
