@import '../app/scss/wilt-colors.scss';
@import '../app/scss/open-color.scss';

/* Master Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
}
* {
  font-family: News Cycle, Helvetica, sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
a:visited, a:active, a:link, a:hover {
  text-decoration: none;
  color: color(primary-dk);
}

/* Mixins
******************************************/
@mixin box-shadow() {
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

@mixin hover-base($color) {
  cursor: pointer;
  opacity: 1;
  transition: .5s;

  &:hover {
    background-color: $color;
  }
  &:active {
    box-shadow: 0 3px 0 $color;
    opacity: 0.75;
  }
}

/**
* WILT Button CSS
***********************************************************/
.btn-wilt {
  @include hover-base(color(primary-dk));
  background-color: color(primary);
  border-radius: 3px;
  border: none;
  color: color(primary-text);
  outline: none;
  padding: .5rem 2rem;
}
.text-wilt {
  width: 10rem;
  border-radius: 2px;
  border: 1px solid color(primary-dk);
}

/**
* Component loading screen
***********************************************************/
.__loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  i {
    color: color(primary);
  }

  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color(gray-dk);
  }
}


/**
* Scrollbar
***********************************************************/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #41606e;
  border: 11px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2f4751;
}
::-webkit-scrollbar-thumb:active {
  background: #1b2a30;
}
::-webkit-scrollbar-track {
  background: #568296;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #568296;
}
::-webkit-scrollbar-track:active {
  background: #568296;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/**
* Weeb container
***********************************************************/
.__weeb {
  margin-left: 12rem;
  padding: 0 2rem;
}

/* Table component
*******************************************************************************/

.tableComponent {
  @include box-shadow();

  font-size: 16px;
  margin-bottom: 1rem;

  &__header {
    background-color: color(primary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    color: color(primary-text);
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    width: 100%;

    h1 {
      font-size: 20px;
    }
  }

  &__table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid color(divider);
    width: 100%;

    thead {
      background: $oc-gray-4;
      border: 1px solid color(divider);
    }

    th {
      background: $oc-gray-4;
      border-bottom: 1px solid color(divider);
      color: $oc-gray-9;
      font-weight: bold;
      overflow: hidden;
      padding: 8px 5px;
      text-align: left;
      text-overflow: ellipsis;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
    }

    td {
      background-color: $oc-white;
      border-bottom: 1px solid color(divider);
      color: $oc-gray-9;
      overflow: hidden;
      padding: 3px 5px;
      text-overflow: ellipsis;
      vertical-align: middle;
      max-width: 0;
      white-space: nowrap;
    }

    &--striped {
      tr:nth-child(even) td {
        background-color: $oc-gray-2;
      }
    }
  }
}

/* Table Alignment Helpers
*************************************/

.align-left {
  text-align: left !important;
  &--all {
    text-align: left !important;
    * {
      text-align: left !important;
    }
  }
}

.align-right {
  text-align: right !important;
  &--all {
    text-align: right !important;
    * {
      text-align: right !important;
    }
  }
}

.align-center {
  text-align: center !important;
  &--all {
    text-align: center !important;
    * {
      text-align: center !important;
    }
  }
}


/* Table Border Helpers
*************************************/

.border,
.border-all,
.border-all * {
  border: 1px solid color(divider) !important;
}

.border {
  &__top {
    border-top: 1px solid color(divider) !important;
    &--all {
      border-top: 1px solid color(divider) !important;
      * {
        border-top: 1px solid color(divider) !important;
      }
    }
  }
  &__bottom {
    border-bottom: 1px solid color(divider) !important;
    &--all {
      border-bottom: 1px solid color(divider) !important;
      * {
        border-bottom: 1px solid color(divider) !important;
      }
    }
  }
  &__right {
    border-right: 1px solid color(divider) !important;
    &--all {
      border-right: 1px solid color(divider) !important;
      * {
        border-right: 1px solid color(divider) !important;
      }
    }
  }
  &__left {
    border-left: 1px solid color(divider) !important;
    &--all {
      border-left: 1px solid color(divider) !important;
      * {
        border-left: 1px solid color(divider) !important;
      }
    }
  }
}


/* List Component
*******************************************************************************/
.listComponent {
  @include box-shadow();
  margin-bottom: 1rem;
  width: 100%;

  ul {
    border-left: 1px solid color(divider);
    border-right: 1px solid color(divider);
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid color(divider);
      padding: .25rem;
    }
  }

  &--stripe {
    background: $oc-gray-2;
  }

  &--striped {
    li:nth-child(odd) {
      background: $oc-gray-2;
    }
  }

  &__header {
    background-color: color(primary);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    color: color(primary-text);
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    width: 100%;

    h1 {
      font-size: 20px;
    }
  }
}
